    * {
      margin: 0;
    }

    .msg {
      position: absolute;
      z-index: 10;
      top: 50px;
      left: 10%;
      display: inline-block;
      background-color: yellow;
      padding: 10px 20px;
      border-radius: 25px;
      border-top-left-radius: 0%;
      border: 1px solid black;
      font-family: Arial, sans-serif;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      animation: fadeInOut 2s forwards ease-out;
    }

    @keyframes fadeInOut {
      0% {
        top: 8px;
      }

      50% {
        top: 50px;
        left: 10%;
        opacity: 1;
      }

      100% {
        top: 8px;
        opacity: 0;
      }
    }

    .main-con {
      width: 100%;
      height: 100vh;
      background-color: bisque;
      display: flex;
      position: relative;
      padding: 20px;
      box-sizing: border-box;
    }

    .left,
    .right {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      border-radius: 20px;
    }

    .left {
      background-color: lightblue;
      float: left;
    }

    .right {
      background-color: lightgreen;
      float: right;
    }

    textarea {
      width: 90%;
      height: 35vh;
      resize: none;
      border-radius: 15px;
      padding: 30px;
      box-sizing: border-box;
      color: aliceblue;
      text-shadow: 0px 0px 8px black;
    }

    .left textarea {
      border: 2px solid black;
      background-color: rgba(0, 255, 0, 0.1);
    }

    .right textarea {
      border: 2px solid black;
      background-color: rgba(0, 191, 255, 0.1);
    }

    .icons {
      font-size: 40px;
      margin: 20px;
      cursor: pointer;
    }

    i {
      padding: 15px;
      border-radius: 50%;
      transition: all 0.3s ease;
      color: #333;
    }

    i:hover {
      cursor: pointer;
      transform: scale(1.1);
      box-shadow: 0 0 20px rgba(23, 23, 23, 0.8);
      text-shadow: 0 0 25px rgba(192, 192, 192, 0.8);
    }

    body {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    nav {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 90%;
      height: 10vh;
      background-color: white;
      padding: 15px 20px;
      border-radius: 20px;
      top: 20px;
      left: 20px;
      transform: translate(20px);
    }


    .nav-box {
      height: 9vh;
      padding: 0 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid black;
      border-radius: 25px;
      box-sizing: border-box;
      background-color: white;
    }


    .dropdown {
      width: 300px;
    }


    .voiceList {
      width: 100%;
      padding: 12px;
      border-radius: 15px;
      border: none;
      outline: none;
      background-color: transparent;
    }


    .buttons i {
      font-size: 18px;
      cursor: pointer;
      padding: 10px;
    }


    #pitch {
      width: 120px;
      border: none;
      background: transparent;
      outline: none;
      font-size: 18px;
    }


    .range-box {
      width: 200px;
    }

    .range-box input[type="range"] {
      width: 100%;
    }