    * {
      margin: 0;
    }

    .msg {
      position: absolute;
      z-index: 10;
      top: 50px;
      left: 10%;
      display: inline-block;
      background-color: yellow;
      padding: 10px 20px;
      border-radius: 25px;
      border-top-left-radius: 0%;
      border: 1px solid black;
      font-family: Arial, sans-serif;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      opacity: 0;
      animation: fadeInOut 2s forwards ease-out;
    }

    @keyframes fadeInOut {
      0% {
        top: 8px;
      }

      50% {
        top: 50px;
        left: 10%;
        opacity: 1;
      }

      100% {
        top: 8px;
        opacity: 0;
      }
    }

    .main-con {
      width: 100%;
      height: 100vh;
      background-color: bisque;
      display: flex;
      position: relative;
      padding: 20px;
      box-sizing: border-box;
    }

    .left,
    .right {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 20px;

    }

    .left {
      background-color: lightblue;
      float: left;
    }

    .right {
      background-color: lightgreen;
      float: right;
    }

    textarea {
      width: 90%;
      height: 30vh;
      resize: none;
      border-radius: 15px;
    }

    .left textarea {
      border: 2px solid black;
      background-color: rgba(0, 255, 0, 0.432);
    }

    .right textarea {
      border: 2px solid black;
      background-color: rgba(0, 191, 255, 0.432);
    }

    .icons {
      font-size: 40px;
      margin: 20px;
      cursor: pointer;
    }

    i {
      padding: 15px;
      border-radius: 50%;
      transition: all 0.3s ease;
      color: #333;
    }

    i:hover {
      cursor: pointer;
      transform: scale(1.1);
      box-shadow: 0 0 20px rgba(23, 23, 23, 0.8);
      text-shadow: 0 0 25px rgba(192, 192, 192, 0.8);
    }

    .main-con .buttons {
      position: absolute;
      top: 190px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 20px;
      background-color: white;
      padding: 10px 20px;
      border-radius: 25px;
    }

    .dropdown {
      width: 300px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 20px;
      background-color: white;
      padding: 15px 20px;
      border-radius: 20px;
    }

    .voiceList {
      width: 100%;
      background-color: white;
      padding: 15px 25px;
      box-sizing: border-box;
      border-radius: 25px;
      transition: all 0.3s ease;
    }

    .voiceList option {
      padding: 15px;
      border-radius: 50%;
    }

    .voiceList:hover {
      transform: scale(1.1);
      box-shadow: 0 0 20px rgba(23, 23, 23, 0.8);
      text-shadow: 0 0 25px rgba(192, 192, 192, 0.8);
    }